#loginForm {
  margin: 7rem 0rem 0rem;
}

.form__container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  align-items: center;
}

form {
  margin: 2rem;
  padding: 1rem;
}

.greetings {
  color: #0b5bd4;
  font-size: 2.5rem;
  margin-left: 2rem;
  padding-left: 1rem;
}

button {
  margin-top: 1rem;
  width: 100%;
}

.error__msg {
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
  font-style: italic;
  margin-top: 1rem;
}

/* ---------------------- TABLETS ---------------------- */
@media screen and (max-width: 991px) {
  .form__container {
    width: var(--container-width-md);
    /* margin: 0 auto; */
  }
}

/* ---------------------- MOBILES ---------------------- */
@media screen and (max-width: 767px) {
  .form__container {
    width: var(--container-width-sm);
    grid-template-columns: none;
    align-items: center;
  }

  form {
    margin: 1rem;
    padding: 0.75rem;
  }

  .greetings {
    display: flex;
    justify-content: center;
    margin-left: 0rem;
    padding-left: 0rem;
  }
}
