header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.logo {
  font-size: 1.4rem;
}

ul {
  margin: 0;
}

ul li {
  display: inline;
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* ---------------------- TABLETS ---------------------- */
@media screen and (max-width: 767px) {
  header {
    width: var(--container-width-md);
  }
}

/* ---------------------- MOBILES ---------------------- */
@media screen and (max-width: 600px) {
  header {
    width: var(--container-width-sm);
  }
}
